@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");
:root {
  --Brightorange: hsl(31, 77%, 52%);
  --Darkcyan: hsl(184, 100%, 22%);
  --Verydarkcyan: hsl(179, 100%, 13%);
  --Transparentwhite: hsla(0, 0%, 100%, 0.75);
  --Verylightgray: hsl(0, 0%, 95%);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--Transparentwhite);
  color: var(--Transparentwhite);
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  overflow: hidden;
  border-radius: 0.938rem;
  max-width: 50rem;
  margin: 8rem auto 1rem auto;

}
.container > section {
  padding: 2rem 3rem;
  flex-basis: 16.25rem;
  flex-grow: 1;
}
.car__sedan,
.car__suvs,
.car__luxury {
  display: flex;
  margin-top: 1rem;
}
.sedan {
  background-color: var(--Brightorange);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.suvs {
  background-color: var(--Darkcyan);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.luxury {
  background-color: var(--Verydarkcyan);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
h2 {
  margin-top: 1.5rem;
  font-family: "Big Shoulders Display";
  font-weight: 700;
}
p {
  font-family: "Lexend Deca";
  font-weight: 400;
  margin-top: 2rem;
}
.learn__more1,
.learn__more2,
.learn__more3 {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  font-family:'Lexend Deca';
  border-radius: 1.5rem;
  background-color: var(--Transparentwhite);
}
section > a:hover {
  background-color: transparent;
  cursor: pointer;
  color: var(--Transparentwhite);
  outline: solid 0.125rem;
}

.learn__more1 {
  color: var(--Brightorange);
}
.learn__more2 {
  color: var(--Darkcyan);
}
.learn__more3 {
  color: var(--Verydarkcyan);
}
.attribution {
  color: var(--Brightorange);
  font-family: "Lexend Deca";
  font-size: 18px;
  text-align: center;
  margin-top: 4rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
